/Osa00/FullStack_00-04.txt
/Osa00/FullStack_00-05.txt
/Osa00/FullStack_00-06.txt
/Osa01/osa1/
/Osa01/kurssitiedot/node_modules/
/Osa01/unicafe/node_modules/
/Osa01/anekdootit/node_modules/
/projektin_rakennusohjeet.txt
